
<div class="imagenPrincipal">
  <img src="/assets/noticia1.jpg" alt="Ninio Observando" class="img-fluid" height="100px">
</div>
<div class="InfoNoticiaPrincipal">
  <p class="h2 text-justify" id="Titulonoticiaprincipal">"Puso su pierna sobre la cabeza de mi hermana y le cortó el cuello con un cuchillo": el drama que se vive en Sudán del Sur a 10 años de su creación</p>
  <p>Es el país más joven del mundo, pero la mayor parte de su historia como Estado independiente ha sido trágica.</p>
  <p class="text-sm-left">23 de diciembre de 2021</p>
</div>
<div id="contenedorMiniNoticias" >
  <div class="Mininoticias" *ngFor="let indice of urlsImgsMiniNoticias; let i = index">
    <div class="imagenMiniPrincipal">
      <img [src]="indice"  alt="Presidente" class="img-fluid imagenMini" height="100px">
    </div>
    <div class="InfoMiniNoticiaPrincipal">
      <p class="h6 text-justify tituloMiniNoticia">{{titulosMiniNoticias[i]}}</p>
      <p class="text-sm-left fechaMiniNoticia">{{horasMiniNoticias[i]}}</p>
    </div>
  </div>
</div>

