<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    margin: 0 0 0 0;
    height: 150px;
    background-color: #b80000;
    color: white;
    font-weight: 600;
  }
.banner{
  border-bottom: 2px solid white;
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15% 12px 15%;
}

#logoBBC{
  box-sizing: content-box;
  padding-left: 1.5%;
  padding-bottom: 18px;
}
#logoBBC:hover{
  border-bottom: 6px solid white;
}
.navbar{
  height: 60%;
  box-sizing: content-box;
  padding: 0 15% 0 15%;
}
.navbar ul {
  margin: 0;
  padding: 0;
  height: 50%;
  list-style-type: none;
  border-bottom: 1px solid white;
}
  .navbar ul li{
    float: left;
    display: inline-block;
    box-sizing: content-box;
    padding: 9px 15px 9px 15px;
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 16px;
  }
  .navbar ul li:hover{
    border-bottom:4px solid white ;
  }


.contenidoPrincipal{
  box-sizing: content-box;
  padding: 1% 23% 1% 22%;
}


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }



</style>

<!-- Toolbar -->
<div class="toolbar">
  <div class="banner">
    <span id="logoBBC"><img src="/assets/bbcnewslogo.png"></span>
  </div>

  <div class="navbar">
    <ul>
      <li *ngFor="let item of navItems; let i = index">{{item}}</li>
    </ul>
    <ul id="parteBajaNavbar">
      <li>Centroamérica Cuenta</li>
      <li>BBC Extra</li>
    </ul>
  </div>
</div>

<div class="content" role="main">
  <div class="contenidoPrincipal">
    <app-noticiaprincipal></app-noticiaprincipal>
  </div>


  <!-- Footer -->
  <footer>

  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
