.col-form-label{
  color: #2DB3F7;
  font-family: Mogra;
  font-size: 36px;
}
.form-control{
  color: #545A85;
  background: #060A47;
  font-family: Mogra;
  font-size: 24px;
}
input{
  text-align: center;
}
.form-select{
  color: #545A85;
  background: #060A47;
  font-family: Mogra;
  font-size: 24px;
  text-align: center;
}
