<!--<app-banner-imagenes></app-banner-imagenes>-->
<p>ruta-login works!</p>
<div *ngFor="let usuario of arregloUsuarios;let i= index">
  <app-banner-imagenes [color]="usuario.color"
  [url]="usuario.link"
  [urlImg]="usuario.linkImagen" >

  </app-banner-imagenes>
</div>



<!--Directiva NGFOR OF -> let variable of aarreglo: let i = index-->
<h1>NG FOR</h1>
<div *ngFor="let usuario of arregloUsuarios; let i=index">
  <p>{{i}}-{{usuario.id}}-{{usuario.nombre}}</p>
</div>
<table class="table">
  <tr>
    <th scope="col">Indice</th>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
  </tr>
  <tr *ngFor="let usuario of arregloUsuarios; let i = index">
    <th scope="row">{{i}}</th>
    <td>{{usuario.id}}</td>
    <td>{{usuario.nombre}}</td>
  </tr>

</table>
<!--Directivas  ng if -> if-->

<h1>NG IF</h1>
<button (click)="cambiarOcultarBanner()">
  <!--( condicion ) ? verdadero : false-->
  {{ (mostrarSegundoBanner) ? 'Ocultar': 'Mostrar' }}
</button>
<app-banner-imagenes *ngIf="mostrarSegundoBanner"></app-banner-imagenes>
